@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@383&display=swap');

* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Oswald', sans-serif;
    font-weight: 383;
    font-size: large;
}

section {
    height: 100vh;
}

.collapse {
    justify-content: flex-end;
}


/*WELCOME*/
#welcome {
    background-color: #00631C;
    height: 17vh;
}
#content-welcome {
    padding-top: 3rem;
    text-align: center;
}
.title-wl {
    color: white;
    font-size: 6rem;
    font-weight: 900;
}

.description-wl {
    max-width: 60rem;
    padding:2rem 0 2rem 0;
    font-size: 2rem;
    color: white;
    margin:0 auto;
}

/*FOOTER*/

footer {
    text-align: center;
    color: rgba(255, 255, 255, 0.85);
    background-color: #00631C;
    height:40vh;
}
.social-icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    margin: 2rem;
    padding-top: 3rem;
}
.social-icons a {
    display: inline-block;
    width: 6rem;
    height: 6rem;
    border-radius: 100%;
    background: #efefef;
    position: relative;
    margin: 0.5rem;
    text-align: center;
    font-size: 3.2rem;
    color: #337AB7;
    transition: 0.5s;
}
.social-icons a img {
    width: 3.2rem;
    height: 3.2rem;
    margin-top: 1.4rem;
}
.social-icons a i,
.social-icons a img {
    z-index:2;
    position: relative;
    line-height: 6rem;
}
.social-icons a:hover {
    color: #fff;
}
.social-icons a:after {
    content: '';
    display: block;
    position: absolute;
    background: #BFE2FF;
    border-radius: 100%;
    width: 0;
    height: 0;
    transition: 0.3s;
    top: 0;
    left: 50%;
}
.social-icons a:hover:after {
    width: 6rem;
    height: 6rem;
    margin-left: -3rem;
    background: #337AB7;
}
#copyright {
    padding-bottom: 3rem;
}