{% import "bootstrap/wtf.html" as wtf %}
{% extends 'bootstrap/base.html' %}

{% block head %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>CLASSIFICATION NETWORK TRAFFIC</title>
<link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="static/css/classification.css">
<script type="text/javascript" src="https://yastatic.net/jquery/2.1.3/jquery.min.js"></script>
{% endblock %}

{% block body %}
<div id="loader" class="loader">
    <div class="loader_inner"></div>
</div>

<section id="welcome">
    <div class="container">
        <nav class="navbar navbar-expand-md navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img src="/static/img/logo_new.png" alt="" class="d-inline-block align-text-center">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/">На главную</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="algorithms">Алгоритмы</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="classification">Классификация</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="train">Обучение</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
</section>

<section style="height:fit-content;">
    <div class="container">
        <div class="content">
            <div class="row align-items-center">
                <div class="col-6" style="max-width: 70rem; padding-top: 13rem; padding-bottom: 15.5rem;" >
                    <p class="title" style="color: rgba(0, 0, 0, 1);">Классификация</p>
                    <p class="description" style="color: rgba(0, 0, 0, 0.85);">Для начала работы загрузите файл с данными в формате CSV и выберите модель классификации</p>
                    <form action="" method="POST" enctype=multipart/form-data class="form-classification">
                        {{ form.csrf_token }}
                        <p class="label">{{ form.classification_model.label() }} {{ form.classification_model() }}</p>
                        <p class="label">{{ form.input_file() }}</p>
                        <br>
                        <button type="submit" class="btn btn-success btn-lg" onclick="load()">Классифицировать сетевой трафик</button>
                        <br>
                    </form>
                </div>
                <div class="col-6" style="margin-left: auto; padding-top: 7rem;">
                    <img src="../static/img/clfnw.png" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>


<footer>
    <div class="container">
        <ul class="social-icons">
            <li><a href="https://vk.com/nazevg"><i class="fa fa-vk"></i></a></li>
            <li><a href="https://www.instagram.com/nazevg/"><i class="fa fa-instagram"></i></a></li>
            <li><a href="https://github.com/hurtishka"><i class="fa fa-github"></i></a></li>
        </ul>
        <p id="phone" class="footer-text">Тел.: +7 (982) 105 37-63</p>
        <p id="email" class="footer-text">Email: nazarenko674777@gmail.com</p>
        <p id="copyright" class="footer-text">© 2021, Evgenii Nazarenko</p>
    </div>
</footer>

<div id="button-up">
    <i class="fa fa-chevron-up"></i>	
</div>
<script>
    $(document).ready(function() { 
      var button = $('#button-up');	
      $(window).scroll (function () {
        if ($(this).scrollTop () > 300) {
          button.fadeIn();
        } else {
          button.fadeOut();
        }
    });	 
    button.on('click', function(){
    $('body, html').animate({
    scrollTop: 0
    }, 50);
    return false;
    });		 
    });
</script>
{% endblock %}