{% import "bootstrap/wtf.html" as wtf %}
{% extends 'bootstrap/base.html' %}

{% block head %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>WELCOME TO MACHINE LEARNING APP</title>
<link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="static/css/main_page.css">
<script type="text/javascript" src="https://yastatic.net/jquery/2.1.3/jquery.min.js"></script>
{% endblock %}

{% block body %}
<section id="welcome">
    <div class="container">
        <nav class="navbar navbar-expand-md navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand">
                    <img src="/static/img/logo_new.png" alt="" class="d-inline-block align-text-center">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="#about">О проекте</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="algorithms">Алгоритмы</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="classification">Классификация</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="train">Обучение</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="content-welcome">
            <div class="row align-items-center">
                <div class="col-12 justify-content-center">
                    <img src="../static/img/gummy-programming.png" alt="" width="400" height="200" id="image-welcome" class="img-fluid mx-auto">
                </div>
                <div class="col-12 text-center" style="padding: 0;">
                    <p class="title-wl">MachineLearningApp</p>
                    <p class="description-wl">Классификация сетевого трафика с использованием методов машинного обучения с учителем</p>
                    <a href="#about"><button type="button" class="btn btn-success btn-lg">Подробнее</button></a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="about">
    <div class="container">
        <p class="title-ab">О проекте</p>
        <p class="description-ab">Программное обеспечение для классификации сетевого трафика,
                разработанное в рамках выпускной квалификационой работы бакалавра по направлению
                "Программная инженерия" в Южно-Уральском государственном университете
        </p>
        <div class="row" style="padding-top: 3rem;">
            <div class="col-4">
                <img src="../static/img/learning.png" alt=""  width="50" height="50" class="img-fluid mx-auto">
                <p class="title-small">Применение высокоэффективных алгоритмов</p>
                В данном веб-приложении Вы можете ознакомиться с принципами работы высокоэффективных алгоритмов машинного обучения c учителем.
            </div>
            <div class="col-4">
                <img src="../static/img/params.png" alt=""  width="50" height="50" class="img-fluid mx-auto">
                <p class="title-small">Широкий выбор параметров алгоритмов</p>
                Данное веб-приложение предлагает широкий выбор параметров алгоритмов машинного обучения для более гибкой настройки своей будущей модели.
            </div>
            <div class="col-4">
                <img src="../static/img/machine-learning.png" alt=""  width="50" height="50" class="img-fluid mx-auto">
                <p class="title-small">Возможность создания своей модели</p>
                Пользователь, выбрав алгоритм и параметры к нему, может обучить и сохранить свою собственную модель и потом здесь же ее испытать на наборе данных.
            </div>
        </div>
      </div>
</section>

<section id="classif_train">
    <div class="container">
        <div class="content">
            <div class=info>
                <p class="title-ct">Классификация и обучение</p>
                <p class="description-ct">Вы можете почувствовать себя в роли настоящего профессионала по machine learning</p>
                <a href="classification"><button type="button" class="btn btn-info btn-lg">Классификация</button></a>
                <a href="train"><button type="button" class="btn btn-info btn-lg">Обучение</button></a>
            </div>
            <img src="../static/img/Startup_PNG.png" alt="" width="380" height="180" class="img-fluid rounded float-start">
        </div>
    </div>
</section>

<section id="algo">
    <div class="container" id="content-algo">
        <div class="row align-items-center">
            <div class="col-12 justify-content-center">
                <img src="../static/img/Coding_PNG.png" alt="" width="240" height="100" id="image-welcome" class="img-fluid mx-auto">
            </div>
            <div class="col-12 text-center" style="padding: 0;">
                <p class="title-al">Алгоритмы</p>
                <p class="description-al">Вы можете ознакомиться с классическими алгоритмами машинного обучения, которые описаны и проиллюстрированы простым языком</p>
                <a href="algorithms"><button type="button" class="btn btn-success btn-lg">Узнать больше</button></a>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="container">
        <ul class="social-icons">
            <li><a href="https://vk.com/nazevg"><i class="fa fa-vk"></i></a></li>
            <li><a href="https://www.instagram.com/nazevg/"><i class="fa fa-instagram"></i></a></li>
            <li><a href="https://github.com/hurtishka"><i class="fa fa-github"></i></a></li>
        </ul>
        <p id="phone" class="footer-text">Тел.: +7 (982) 105 37-63</p>
        <p id="email" class="footer-text">Email: nazarenko674777@gmail.com</p>
        <p id="copyright" class="footer-text">© 2021, Evgenii Nazarenko</p>
    </div>
</footer>

<div id="button-up">
    <i class="fa fa-chevron-up"></i>	
</div>
<script>
    $(document).ready(function() { 
      var button = $('#button-up');	
      $(window).scroll (function () {
        if ($(this).scrollTop () > 300) {
          button.fadeIn();
        } else {
          button.fadeOut();
        }
    });	 
    button.on('click', function(){
    $('body, html').animate({
    scrollTop: 0
    }, 50);
    return false;
    });		 
    });
</script>
{% endblock %}