{% import "bootstrap/wtf.html" as wtf %}
{% extends 'bootstrap/base.html' %}

{% block head %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>TRAIN YOUR MODEL</title>
<link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="static/css/train.css">
<link rel="shortcut icon" href="static/img/favicon.ico">
<script type="text/javascript" src="https://yastatic.net/jquery/2.1.3/jquery.min.js"></script>
{% endblock %}

{% block body %}
<section id="welcome">
    <div class="container">
        <nav class="navbar navbar-expand-md navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img src="/static/img/logo_new.png" alt="" class="d-inline-block align-text-center">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/">На главную</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="algorithms">Алгоритмы</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="classification">Классификация</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="train">Обучение</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
</section>

<section></section>

<footer>
    <div class="container">
        <ul class="social-icons">
            <li><a href="https://vk.com/nazevg"><i class="fa fa-vk"></i></a></li>
            <li><a href="https://www.instagram.com/nazevg/"><i class="fa fa-instagram"></i></a></li>
            <li><a href="https://github.com/hurtishka"><i class="fa fa-github"></i></a></li>
        </ul>
        <p id="phone" class="footer-text">Тел.: +7 (982) 105 37-63</p>
        <p id="email" class="footer-text">Email: nazarenko674777@gmail.com</p>
        <p id="copyright" class="footer-text">© 2021, Evgenii Nazarenko</p>
    </div>
</footer>

<div id="button-up">
    <i class="fa fa-chevron-up"></i>	
</div>
<script>
    $(document).ready(function() { 
      var button = $('#button-up');	
      $(window).scroll (function () {
        if ($(this).scrollTop () > 300) {
          button.fadeIn();
        } else {
          button.fadeOut();
        }
    });	 
    button.on('click', function(){
    $('body, html').animate({
    scrollTop: 0
    }, 50);
    return false;
    });		 
    });
</script>
{% endblock %}